# Copia este archivo como .env y define valores aleatorios, distintos y locales.
VAULT_DEV_ROOT_TOKEN_ID=
RESTAURANTES_POSTGRES_PASSWORD=
RESTAURANTES_PGADMIN_PASSWORD=
RESTAURANTES_RABBITMQ_PASSWORD=
RESTAURANTES_GRAFANA_ADMIN_PASSWORD=
RESTAURANTES_SONARQUBE_POSTGRES_PASSWORD=
